<p-fluid>
    <form
        [formGroup]="form"
        class="card flex flex-col gap-6 w-full">

        <div class="grid grid-cols-1 md:grid-cols-12 gap-6">
            <div class="md:col-span-12 flex flex-col gap-2">
                <h2>Capacidades del establecimiento</h2>

<p-message severity="info">
                    <div>
                        <b>Atencion</b>
                        <p class="mt-4">Habitacion doble (matrimonial): Permite la pernoctacion y alojamiento de dos personas, ocupando una cama doble o dos camas individuales</p>
                        <p>PAX: Referente a pasajeros</p>
                    </div>
                </p-message>
            </div>

            <!-- hasRoom -->
            <div class="md:col-span-12 flex flex-col gap-2">
                <label
                    appLabel
                    for="hasRoom"
                    [required]="hasRoomField"
                    label="Declaro que el establecimiento, al momento del envío de la solicitud, ha seleccionado tipo de habitacion">
                </label>

                <p-toggleswitch id="hasRoom" formControlName="hasRoom" >
                    <ng-template #handle let-checked="checked">
                        <span class="!text-xs font-semibold">{{ checked ? 'SÍ' : 'NO' }}</span>
                    </ng-template>
                </p-toggleswitch>

                <p-message
                    appErrorMessage
                    [errors]="hasRoomField.errors"
                    [touched]="hasRoomField.touched"
                    [dirty]="hasRoomField.dirty" />
            </div>
        </div>
    </form>
</p-fluid>

<p-fluid>
    @if (hasRoomField.value) {
        <app-list-basic
            title="asdsad"
            [items]="items"
            [cols]="cols"
            [buttonActions]="buttonActions"
            (onCreate)="create()"
            (onSelect)="buildButtonActions($event)"
        />
    }
</p-fluid>

<p-dialog [(visible)]="isVisibleModal"
          [modal]="true"
          [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
          [style]="{ width: '25vw' }"
          [draggable]="false"
          (onHide)="closeModal()"
          [resizable]="false">
    <ng-template #header>
        <div class="inline-flex items-center justify-center gap-2">
            <span class="font-bold whitespace-nowrap">
                Agregar Tipo de Habitacion
            </span>
        </div>
    </ng-template>

        <form [formGroup]="form" (ngSubmit)="onSubmit()"
                class="card flex flex-col gap-2 w-full">
            <div class="grid grid-cols-1 md:grid-cols-12 gap-6">

                <div class="md:col-span-12 flex flex-col gap-2">
                     <label
                    appLabel
                    for="roomType"
                    [required]="roomTypeField"
                    label="Tipo">
                </label>

                <p-select id="roomType"
                          [options]="roomType"
                          formControlName="roomType"
                          optionLabel="name">
                </p-select>

                <p-message
                    appErrorMessage
                    [errors]="roomTypeField.errors"
                    [touched]="roomTypeField.touched"
                    [dirty]="roomTypeField.dirty" />
                </div>

                <div class="md:col-span-12 flex flex-col gap-2">
                    <label for="totalRooms" class="font-medium"> Habitaciones/Tienda de campaña <span class="text-red-500">*</span></label>
        <p-inputNumber
          formControlName="totalRooms"
          [min]="0"
          [max]="1000"
          showButtons
          inputId="totalRooms"
          class="w-full">
        </p-inputNumber>
                </div>
    <div class="md:col-span-12 flex flex-col gap-2">
             <label for="totalBeds" class="font-medium">Camas <span class="text-red-500">*</span></label>
        <p-inputNumber
          formControlName="totalBeds"
          [min]="0"
          [max]="2000"
          showButtons
          inputId="totalBeds"
          class="w-full">
        </p-inputNumber>
                </div>


                <div class="md:col-span-12 flex flex-col gap-2">
                <label for="totalPlaces" class="font-medium">Plazas <span class="text-red-500">*</span></label>
        <p-inputNumber
          formControlName="totalPlaces"
          [min]="0"
          [max]="3000"
          showButtons
          inputId="totalPlaces"
          class="w-full">
        </p-inputNumber>
                </div>


                <div class="md:col-span-12 flex flex-col gap-2">
                    <p-button type="submit" label="Agregar" [icon]="PrimeIcons.SAVE" />
                </div>
            </div>
        </form>

</p-dialog>

