<p-fluid>
    <form [formGroup]="form"
          class="card flex flex-col gap-6 w-full">
        <div class="grid grid-cols-1 md:grid-cols-12 gap-6">
            <!-- localType -->
            <div class="md:col-span-6 flex flex-col gap-2">
                <label
                    appLabel
                    for="localType"
                    [required]="localTypeField"
                    label="Su local es">
                </label>

                <p-select id="localType"
                          [options]="localTypes"
                          formControlName="localType"
                          optionLabel="name">
                </p-select>

                <p-message
                    appErrorMessage
                    [errors]="localTypeField.errors"
                    [touched]="localTypeField.touched"
                    [dirty]="localTypeField.dirty" />
            </div>

            <!-- isProtectedArea -->
            <div class="md:col-span-12 flex flex-col gap-2">
                <label
                    appLabel
                    for="isProtectedArea"
                    label="¿Su establecimiento se encuentra dentro del Subsistema Estatal del Sistema Nacional de Areas Protegidas?"
                    [required]="isProtectedAreaField">
                </label>

                <p-toggleswitch id="isProtectedArea" formControlName="isProtectedArea" />

                <p-message
                    appErrorMessage
                    [errors]="isProtectedAreaField.errors"
                    [touched]="isProtectedAreaField.touched"
                    [dirty]="isProtectedAreaField.dirty" />
            </div>
            <!-- hasLandUse -->
                <div class="md:col-span-12 flex flex-col gap-2">
                <label
                    appLabel
                    for="hasLandUse"
                    label="Certificado de Uso de Suelos o su Equivalente:
                    Al momento de la inspección se presentará el Certificado de Informe de compatibilidad de uso de suelo"
                    [required]="hasLandUseField">
                </label>

                <p-toggleswitch id="hasLandUse" formControlName="hasLandUse" />

                <p-message
                    appErrorMessage
                    [errors]="hasLandUseField.errors"
                    [touched]="hasLandUseField.touched"
                    [dirty]="hasLandUseField.dirty" />
            </div>

            <!-- hasProtectedAreaContract -->
            @if (hasProtectedAreaContractField.hasValidator(Validators.required)) {
                <div class="md:col-span-12 flex flex-col gap-2">
                    <label
                        appLabel
                        for="hasProtectedAreaContract"
                        label="Al momento de la inspección se presentará la copia del documento de concesion, delegacion por contrato o convenio de cooperacion de infraestructura o sus equivalentes, suscritos con la Autoridad Ambiental Nacional:"
                        [required]="hasProtectedAreaContractField">
                    </label>

                    <p-toggleswitch id="hasProtectedAreaContract" formControlName="hasProtectedAreaContract" />

                    <p-message
                        appErrorMessage
                        [errors]="hasProtectedAreaContractField.errors"
                        [touched]="hasProtectedAreaContractField.touched"
                        [dirty]="hasProtectedAreaContractField.dirty" />
                </div>
            }
        </div>
    </form>
</p-fluid>

