<div class="custom-form-grid md:grid-cols-12">
    <div class="col-span-12 lg:col-span-6 xl:col-span-3">
        <div class="card mb-0">
            <div class="flex justify-between mb-4">
                <div>
                    <span class="block text-muted-color font-medium mb-4">Usuarios Registrados</span>
                    <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">152</div>
                </div>
                <div class="flex items-center justify-center bg-blue-100 dark:bg-blue-400/10 rounded-border"
                     style="width: 2.5rem; height: 2.5rem">
                    <i [ngClass]="[FontAwesome.USERS_SOLID,'text-blue-500','text-xl!'] "></i>
                </div>
            </div>
            <span class="text-primary font-medium">24 usuarios registrados </span>
            <span class="text-muted-color">hoy</span>
        </div>
    </div>
    <div class="col-span-12 lg:col-span-6 xl:col-span-3">
        <div class="card mb-0">
            <div class="flex justify-between mb-4">
                <div>
                    <span class="block text-muted-color font-medium mb-4">Usuarios Bloqueados</span>
                    <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">4</div>
                </div>
                <div class="flex items-center justify-center bg-red-100 dark:bg-red-400/10 rounded-border"
                     style="width: 2.5rem; height: 2.5rem">
                    <i [ngClass]="[FontAwesome.BAN_SOLID, 'text-red-500','text-xl!']"></i>
                </div>
            </div>
            <span class="text-primary font-medium">2 usuarios bloqueados</span>
            <span class="text-muted-color">hoy</span>
        </div>
    </div>
    <div class="col-span-12 lg:col-span-6 xl:col-span-3">
        <div class="card mb-0">
            <div class="flex justify-between mb-4">
                <div>
                    <span class="block text-muted-color font-medium mb-4">Usuarios Suspendidos</span>
                    <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">10</div>
                </div>
                <div class="flex items-center justify-center bg-yellow-100 dark:bg-yellow-400/10 rounded-border"
                     style="width: 2.5rem; height: 2.5rem">
                    <i [ngClass]="[FontAwesome.CIRCLE_XMARK_REGULAR,'text-yellow-500','text-xl!']"></i>
                </div>
            </div>
            <span class="text-primary font-medium">2 usuarios suspendidos</span>
            <span class="text-muted-color">hoy</span>
        </div>
    </div>
    <div class="col-span-12 lg:col-span-6 xl:col-span-3">
        <div class="card mb-0">
            <div class="flex justify-between mb-4">
                <div>
                    <span class="block text-muted-color font-medium mb-4">Usuarios Activos</span>
                    <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">152</div>
                </div>
                <div class="flex items-center justify-center bg-green-100 dark:bg-green-400/10 rounded-border"
                     style="width: 2.5rem; height: 2.5rem">
                    <i [ngClass]="[FontAwesome.CLOCK_SOLID, 'text-green-500','text-xl!']"></i>
                </div>
            </div>
            <span class="text-primary font-medium">85 usuarios activos</span>
            <span class="text-muted-color">hoy</span>
        </div>
    </div>
</div>
