<p-fluid>
  <form [formGroup]="form" class="card flex flex-col gap-6 w-full">
    <div class="grid grid-cols-1 md:grid-cols-12 gap-6">
      <div class="md:col-span-12 flex flex-col gap-2">
        <h2>Capacidades</h2>
        <h4 class="text-lg font-semibold text-gray-700">Tipos de vehículos</h4>
        <p-message severity="info">
          <div>
            <b>Importante:</b>
            <p class="mt-4">Registrar los vehículos del establecimiento.</p>
          </div>
        </p-message>
      </div>

      <div class="md:col-span-12 flex flex-col gap-2">
        <label
          appLabel
          for="hasLandTransports"
          [required]="hasLandTransportsField"
          label="Declaro que el establecimiento, al momento del envío de la solicitud, cuenta con vehículos."
        ></label>

        <p-toggleButton
          id="hasLandTransports"
          formControlName="hasLandTransports"
          [onLabel]="'SÍ'"
          [offLabel]="'NO'"
          [styleClass]="'w-24 text-xs font-semibold'"
        ></p-toggleButton>

        <p-message
          appErrorMessage
          [errors]="hasLandTransportsField.errors"
          [touched]="hasLandTransportsField.touched"
          [dirty]="hasLandTransportsField.dirty"
        ></p-message>
      </div>
    </div>
  </form>
</p-fluid>

<p-fluid>
  @if(hasLandTransportsField.value){
  <app-list-basic
    title="Listado de Vehículos"
    [items]="items"
    [cols]="cols"
    [buttonActions]="buttonActions"
    (onCreate)="create()"/>
  }
</p-fluid>

<p-dialog
  [(visible)]="isVisibleModal"
  [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '70vw' }"
  [draggable]="false"
  (onHide)="closeModal()"
  [resizable]="false"
>
  <ng-template pTemplate="header">
    <div class="inline-flex items-center justify-center gap-2">
      <span class="font-bold whitespace-nowrap">Agregar Vehículo</span>
    </div>
  </ng-template>

  <p-fluid>
    <form [formGroup]="landTransportTypeForm" (ngSubmit)="onSubmit()" class="card flex flex-col gap-2 w-full">
      <div class="grid grid-cols-1 md:grid-cols-12 gap-6">
        <!-- Tipo con selectButton -->
        <div class="md:col-span-12 flex flex-col gap-2">
          <label appLabel for="type" [required]="typeField" label="Tipo: (*)"></label>
         <p-select
           id="type"
           formControlName="type"
           optionLabel="name"
          placeholder="Seleccione un tipo"
           class="w-full md:w-56"
        ></p-select>
          <p-message
            appErrorMessage
            [errors]="typeField.errors"
            [touched]="typeField.touched"
            [dirty]="typeField.dirty"
          ></p-message>
        </div>

        <!-- Placa -->
        <div class="md:col-span-12 flex flex-col gap-2">
          <label appLabel for="plate" [required]="plateField" label="Placa: (*)"></label>
          <input pInputText id="plate" formControlName="plate" />
          <p-message
            appErrorMessage
            [errors]="plateField.errors"
            [touched]="plateField.touched"
            [dirty]="plateField.dirty"
          ></p-message>
        </div>

        <!-- Formulario Matrícula -->
        <div class="md:col-span-12 flex flex-col gap-2">
          <label appLabel for="registration" [required]="registrationField" label="Formulario Matrícula: (*)"></label>
          <input pInputText id="registration" formControlName="registration" />
          <p-message
            appErrorMessage
            [errors]="registrationField.errors"
            [touched]="registrationField.touched"
            [dirty]="registrationField.dirty"
          ></p-message>
        </div>

        <!-- Capacidad -->
        <div class="md:col-span-12 flex flex-col gap-2">
          <label appLabel for="capacity" [required]="capacityField" label="Capacidad de la Unidad: (*)"></label>
          <p-inputNumber
            id="capacity"
            formControlName="capacity"
            [min]="1"
            [showButtons]="true"
            buttonLayout="horizontal"
            decrementButtonClass="p-button-danger"
            incrementButtonClass="p-button-success"
            incrementButtonIcon="pi pi-plus"
            decrementButtonIcon="pi pi-minus"
          ></p-inputNumber>
          <p-message
            appErrorMessage
            [errors]="capacityField.errors"
            [touched]="capacityField.touched"
            [dirty]="capacityField.dirty"
          ></p-message>
        </div>

        <!-- Fecha de emisión -->
        <div class="md:col-span-12 flex flex-col gap-2">
          <label appLabel for="issueDate" [required]="certifiedIssueAtField" label="Fecha de emisión: (*)"></label>
          <p-datepicker
            id="certifiedIssueAt"
            formControlName="certifiedIssueAt"
            [showIcon]="true"
            dateFormat="dd/mm/yy"
            
          ></p-datepicker>
          <p-message
            appErrorMessage
            [errors]="certifiedIssueAtField.errors"
            [touched]="certifiedIssueAtField.touched"
            [dirty]="certifiedIssueAtField.dirty"
          ></p-message>
        </div>

        <!-- Fecha de caducidad -->
        <div class="md:col-span-12 flex flex-col gap-2">
          <label appLabel for="expiryDate" [required]="certifiedExpirationAtField" label="Fecha de caducidad: (*)"></label>
          <p-datepicker
            id="certifiedExpirationAt"
            formControlName="certifiedExpirationAt"
            [showIcon]="true"
            dateFormat="dd/mm/yy"
            
          />
          <p-message
            appErrorMessage
            [errors]="certifiedExpirationAtField.errors"
            [touched]="certifiedExpirationAtField.touched"
            [dirty]="certifiedExpirationAtField.dirty"
          ></p-message>
        </div>
 <!-- certifiedCode -->
        <div class="md:col-span-12 flex flex-col gap-2">
          <label
            appLabel
            for="certifiedCode"
            [required]="certifiedCodeField"
            label="Código de Certificación">
            </label>

            <input pInputText id="certifiedCode" formControlName="certifiedCode">

            <p-message
            appErrorMessage
            [errors]="certifiedCodeField.errors"
            [touched]="certifiedCodeField.touched"
            [dirty]="certifiedCodeField.dirty" />
          </div>

            <!-- certifiedIssueAt -->
            <div class="md:col-span-6 flex flex-col gap-2">
                <label
                    appLabel
                    for="certifiedIssueAt"
                    [required]="certifiedIssueAtField"
                    label="Fecha de Emisión">
                </label>

                <p-datepicker class="max-w-full" formControlName="certifiedIssueAt" [inline]="true" [showWeek]="true" />


                <p-message
                    appErrorMessage
                    [errors]="certifiedIssueAtField.errors"
                    [touched]="certifiedIssueAtField.touched"
                    [dirty]="certifiedIssueAtField.dirty" />
            </div>

            <!-- certifiedExpirationAt -->
            <div class="md:col-span-6 flex flex-col gap-2">
                <label
                    appLabel
                    for="certifiedExpirationAt"
                    [required]="certifiedExpirationAtField"
                    label="Fecha de Expiración">
                </label>

                <p-datepicker class="max-w-full" formControlName="certifiedExpirationAt" [inline]="true" [showWeek]="true" />


                <p-message
                    appErrorMessage
                    [errors]="certifiedExpirationAtField.errors"
                    [touched]="certifiedExpirationAtField.touched"
                    [dirty]="certifiedExpirationAtField.dirty" />
            </div>
        

        <div class="md:col-span-12 flex flex-col gap-2">
          <button pButton type="submit" label="Agregar" icon="pi pi-save" [disabled]="landTransportTypeForm.invalid"></button>
        </div>
      </div>
    </form>
  </p-fluid>
</p-dialog>
