<div class="custom-form-card">
    <div class="custom-form-grid md:grid-cols-12">
        <div class="custom-form-title md:col-span-12">
            <h3>Catastro Guianza</h3>
        </div>
        <div class="custom-form-field md:col-span-12">
            <p-table
                [value]="items()"
                [tableStyle]="{ 'min-width': '50rem' }"
                [scrollable]="true"
            >

                <ng-template pTemplate="header">
                    <tr>
                        <th>Opciones</th>
                        <th>Número de Registro</th>
                        <th>Código del Establecimiento</th>
                        <th>Razón Social</th>
                        <th>Ubicación</th>
                        <th>Clasificación</th>
                        <th>Estado Registro</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                    <tr>
                        <td>
                            <p-button
                                pTooltip="Crear Trámite"
                                [raised]="true"
                                [icon]="FontAwesome.ELLIPSIS_VERTICAL_SOLID"
                                (click)="onSelect({item,index:rowIndex})" />
                        </td>
                        <td>
                            {{ item?.registerNumber }}
                        </td>
                        <td>{{ item?.process?.establishment?.number |establishmentNumber }}</td>
                        <td>{{ item?.process?.establishment?.ruc?.legalName }}</td>
                        <td>
                            <p>{{ item?.process?.establishment?.province?.name }}</p>

                            <p>{{ item?.process?.establishment?.canton?.name }}</p>

                            <p>{{ item?.process?.establishment?.parish?.name }}</p>
                        </td>
                        <td>
                            @for (credential of item?.process?.establishment?.credentials; track credential.id) {
                                {{ credential?.classification?.name }}
                            }
                        </td>

                        <td>
                            <p-tag
                                [severity]="item?.state?.code | processStateSeverity "
                                [value]="item?.state?.name" />
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

@if (isButtonActionsEnabled) {
    <app-button-action
        [buttonActions]="buttonActions"
        [enabled]="true"
        (isHide)="isButtonActionsEnabled = $event" />
}
