<div class="custom-form-card">
    <form
        [formGroup]="form"
        class="custom-form-grid md:grid-cols-12"
        (ngSubmit)="onSubmit()">

        <!-- title -->
        <div class=" custom-form-title md:col-span-12">
            Cambio de contraseña:
            <p-divider />
        </div>

        <!-- passwordActivated -->
        <div class="custom-form-field md:col-span-12">
            <label
                appLabel
                for="passwordActivated">
                Active para cambiar:
                <small style="color: var(--p-gray-500)">Enviaremos un código a tu correo registrado para verificar tu
                    identidad.</small>
            </label>

            <app-toggle-switch [formControl]="passwordActivated" />
        </div>

        @if (passwordActivated.value) {
            <!-- requestTransactionalCode -->
            <div class="custom-form-field md:col-span-4 mt-7">
                <p-button
                    severity="help"
                    [icon]="FontAwesome.PAPER_PLANE_SOLID"
                    [label]="transactionalCodeControl.enabled?'Reenviar código':'Solicitar código'"
                    [text]="transactionalCodeControl.enabled"
                    [raised]="transactionalCodeControl.enabled"
                    (onClick)="requestTransactionalCode()" />
            </div>

            <!-- transactionalCodeControl -->
            @if (transactionalCodeControl.enabled && passwordField.disabled) {
                <div class="custom-form-field md:col-span-8">
                    <label
                        appLabel for="transactionalCode"
                        [required]="transactionalCodeControl"
                        label="Código de seguridad"></label>

                    <app-transactional-code [formControl]="transactionalCodeControl"
                                            [requester]="authService.auth.username" />

                    <small
                        appErrorMessage
                        [errors]="transactionalCodeControl.errors"
                        [touched]="transactionalCodeControl.touched"
                        [dirty]="transactionalCodeControl.dirty"></small>
                </div>
            }

            <!-- passwordField -->
            @if (transactionalCodeControl.valid && passwordField.enabled) {
                <div class="custom-form-field md:col-span-12">
                    <div class="custom-form-grid md:grid-cols-12">
                        <div class="custom-form-field md:col-span-5">
                            <label
                                appLabel
                                for="password"
                                [required]="passwordField"
                                label="Nueva contraseña">
                            </label>

                            <p-password
                                id="password"
                                formControlName="password"
                                inputStyleClass="w-full"
                                [toggleMask]="true"
                                [feedback]="false">
                            </p-password>

                            <small
                                appErrorMessage
                                [errors]="passwordField.errors"
                                [touched]="passwordField.touched"
                                [dirty]="passwordField.dirty"></small>
                        </div>

                        <div class="custom-form-field md:col-span-5">
                            <label
                                appLabel
                                for="passwordConfirm"
                                [required]="passwordConfirmField"
                                label="Confirmar nueva contraseña"></label>

                            <p-password
                                id="passwordConfirm"
                                formControlName="passwordConfirm"
                                inputStyleClass="w-full"
                                [toggleMask]="true"
                                [feedback]="false" />

                            <small
                                appErrorMessage
                                [errors]="passwordConfirmField.errors"
                                [touched]="passwordConfirmField.touched"
                                [dirty]="passwordConfirmField.dirty"></small>
                        </div>

                        <!-- savePassword button -->
                        <div class="custom-form-field mt-7 md:col-span-2 sm:col-span-12">
                            <p-button
                                type="submit"
                                pTooltip="Actualizar Contraseña"
                                [icon]="FontAwesome.FLOPPY_DISK_SOLID"
                                [disabled]="passwordField.disabled" />
                        </div>
                    </div>
                </div>
            }
        }
    </form>
</div>
