<div class="custom-form-card">
    <form [formGroup]="form" class="custom-form-grid md:grid-cols-12">
        <!-- backButton -->
        <div class="custom-form-field md:col-span-3">
            <p-button
                pTooltip="Regresar"
                [icon]="FontAwesome.CHEVRON_LEFT_SOLID"
                severity="warn"
                [raised]="true"
                [text]="true"
                size="large"
                [routerLink]="[MY_ROUTES.authPages.signIn.absolute]" />
        </div>

        <!-- title -->
        <div class="custom-form-title md:col-span-12 text-center">
            Recuperación de la Cuenta
        </div>

        <!-- identificationField -->
        <div class="custom-form-field md:col-span-12">
            <label
                appLabel
                for="identification"
                [required]="identificationField"
                label="Cédula">
            </label>

            <input
                pInputText
                type="text"
                id="identification"
                formControlName="identification"
                [maxlength]="13" />

            <small
                appErrorMessage
                [errors]="identificationField.errors"
                [touched]="identificationField.touched"
                [dirty]="identificationField.dirty" ></small>
        </div>

        @if (identificationField.valid) {
            <!-- emailField -->
            <div class="custom-form-field md:col-span-10">
                <label
                    appLabel for="email"
                    label="Correo electrónico"
                    [required]="emailField"></label>

                <input pInputText type="email" id="email" formControlName="email" />

                <small appErrorMessage
                       [errors]="emailField.errors"
                       [touched]="emailField.touched"
                       [dirty]="emailField.dirty" ></small>
            </div>

            <div class="custom-form-field md:col-span-2">
                <p-button
                    class="mt-7"
                    [icon]="FontAwesome.PENCIL_SOLID"
                    styleClass="w-full"
                    pTooltip="Cambiar correo"
                    severity="info"
                    (onClick)="showSecurityQuestionsModal()"
                />
            </div>

            <!-- requestTransactionalCode -->
            <div class="custom-form-field md:col-span-12">
                <p-button
                    severity="help"
                    styleClass="w-full"
                    [icon]="FontAwesome.PAPER_PLANE_SOLID"
                    [label]="transactionalCodeControl.enabled?'Reenviar código':'Solicitar código'"
                    [text]="transactionalCodeControl.enabled"
                    [raised]="transactionalCodeControl.enabled"
                    [disabled]="emailField.invalid"
                    (onClick)="requestTransactionalCode()" />
            </div>
        }

        @if (transactionalCodeControl.enabled) {
            <!-- transactionalCodeControl -->
            <div class="custom-form-field md:col-span-12">
                <label
                    appLabel for="transactionalCode"
                    label="Código de seguridad"
                    [required]="transactionalCodeControl"></label>

                <app-transactional-code [formControl]="transactionalCodeControl" [requester]="identificationField.value"/>

                <small appErrorMessage
                       [errors]="transactionalCodeControl.errors"
                       [touched]="transactionalCodeControl.touched"
                       [dirty]="transactionalCodeControl.dirty" ></small>
            </div>
        }

        @if (passwordField.enabled && transactionalCodeControl.valid) {
            <!-- passwordField -->
            <div class="custom-form-field md:col-span-12">
                <label
                    appLabel for="password" label="Nueva contraseña"
                    [required]="passwordField"></label>

                <p-password
                    id="password"
                    formControlName="password"
                    inputStyleClass="w-full"
                    [toggleMask]="true"
                    [feedback]="false" />

                <small appErrorMessage
                       [errors]="passwordField.errors"
                       [touched]="passwordField.touched"
                       [dirty]="passwordField.dirty" ></small>
            </div>

            <!-- passwordConfirmField -->
            <div class="custom-form-field md:col-span-12">
                <label
                    appLabel
                    for="passwordConfirm"
                    [required]="passwordConfirmField"
                    label="Confirmar contraseña"></label>

                <p-password
                    id="passwordConfirm"
                    formControlName="passwordConfirm"
                    inputStyleClass="w-full"
                    [toggleMask]="true"
                    [feedback]="false" />

                <small
                    appErrorMessage
                    [errors]="passwordConfirmField.errors"
                    [touched]="passwordConfirmField.touched"
                    [dirty]="passwordConfirmField.dirty" ></small>
            </div>

            <!-- saveButton -->
            <div class="custom-form-field md:col-span-12">
                <p-button
                    label="Cambiar Contraseña"
                    styleClass="w-full"
                    [icon]="FontAwesome.FLOPPY_DISK_SOLID"
                    [disabled]="passwordField.invalid"
                    (onClick)="onSubmit()" />
            </div>
        }
    </form>
</div>

@if (securityQuestionsModal) {
    <p-dialog
        header="Preguntas de seguridad"
        [(visible)]="securityQuestionsModal"
        [modal]="true"
        [style]="{ width: '40vw' }">
        <app-email-reset
            [userId]="idField.getRawValue()"
            [allSecurityQuestions]="allSecurityQuestions"
            (onSubmitted)="onSubmitEmailReset($event)"
        />
    </p-dialog>
}
