@if (form.enabled) {
    <div class="flex items-center justify-center min-h-screen p-4">
        <div class="w-full custom-form-card mx-auto max-w-xl py-20">
            <h3 class="mb-4 text-center">Actualización de Seguridad Requerida</h3>

            <small class="text-gray-500">
                Por tu seguridad, necesitas establecer una nueva contraseña antes de continuar.
            </small>

            <p-divider/>
            <form [formGroup]="form" (ngSubmit)="onSubmit()" class="custom-form-grid md:grid-cols-12">
                <!-- passwordField -->
                <div class="custom-form-field md:col-span-12">
                    <label
                        appLabel
                        for="password"
                        [required]="passwordField"
                        label="Nueva contraseña"
                    ></label>

                    <p-password
                        id="password"
                        formControlName="password"
                        inputStyleClass="w-full"
                        [toggleMask]="true"
                        [feedback]="false" />

                    <small
                        appErrorMessage
                        [errors]="passwordField.errors"
                        [touched]="passwordField.touched"
                        [dirty]="passwordField.dirty" ></small>
                </div>

                <!-- passwordConfirmField -->
                <div class="custom-form-field md:col-span-12">
                    <label
                        appLabel
                        for="passwordConfirm"
                        [required]="passwordConfirmField"
                        label="Confirmar contraseña"></label>

                    <p-password
                        id="passwordConfirm"
                        formControlName="passwordConfirm"
                        inputStyleClass="w-full"
                        [toggleMask]="true"
                        [feedback]="false" />

                    <small
                        appErrorMessage
                        [errors]="passwordConfirmField.errors"
                        [touched]="passwordConfirmField.touched"
                        [dirty]="passwordConfirmField.dirty" ></small>
                </div>

                <!-- saveButton -->
                <div class="custom-form-field md:col-span-12">
                    <p-button
                        type="submit"
                        label="Actualizar Contraseña"
                        styleClass="w-full"
                        [icon]="FontAwesome.FLOPPY_DISK_SOLID"
                        [disabled]="passwordConfirmField.invalid" />
                </div>
            </form>
        </div>
    </div>
}
