<p-fluid>
    <p-button
        class="w-full"
        [icon]="PrimeIcons.CALENDAR"
        label=" 1. Agendar"
        (click)="showDialog()" />
</p-fluid>

<p-dialog
    header="Agendar Trámite - AMERICAN DELI AGENCIAMIENTO TURÍSTICO / AGENCIA DE VIAJES DUAL / Categoría única"
    [(visible)]="visible"
    [modal]="true"
    [breakpoints]="{ '1199px': '90vw', '900px': '95vw', '575px': '98vw' }"
    [style]="{ width: '85vw', minWidth: '320px', maxWidth: '95vw', height: '600px' }"
    [draggable]="false"
    [resizable]="false"
    [contentStyle]="{ 'padding': '1.5rem' }">

    <form [formGroup]="form" (ngSubmit)="inspectionAssignment()" class="flex flex-col gap-6 w-full">

        <p-message>
            <div>
                <p class="font-bold">Nota informativa al Técnico Zonal</p>

                <p>
                    "Recuerde que se debera revisar los requisitos documentales, mismos que deben ser parte del expediente
                    fisico y digital por establecimiento, de su jurisdiccion."
                </p>
            </div>
        </p-message>
        <div class="flex justify-content-end mb-4">
            <p-button
                [icon]="PrimeIcons.SAVE"
                label="Guardar"
                type="submit" />
        </div>

        <div class="calendar-wrapper">
            <p-datepicker
                formControlName="inspectionAt"
                [inline]="true"
                [showTime]="true"
                [hourFormat]="'24'"
                [showWeek]="true"
                [numberOfMonths]="2" />
        </div>
    </form>
</p-dialog>
