<div class="custom-form-card">
    <div class="custom-form-grid md:grid-cols-12">
        <div class="custom-form-title md:col-span-12">
            DATOS GENERALES DEL GUÍA DE TURISMO:
        </div>

        <!-- processGuides -->
        @for (processGuide of dataIn(); track processGuide) {
            <div class="custom-form-field md:col-span-6">
                <label
                    appLabel
                    for="legalName"
                    [label]="processGuide?.requirement?.name">
                </label>

<!--                <input-->
<!--                    pInputText-->
<!--                    id="legalName"-->
<!--                    formControlName="legalName" />-->
            </div>
        }
    </div>
</div>
