<p-fluid>
    <p-message severity="info">
        <div>
            <b>Atención:</b>
            <p class="mt-2 text-justify">
                La información presentada a continuación es proporcionada por el Servicio de Rentas Internas, esta
                sección tiene carácter informativo, por favor si desea actualizarla debe realizar el trámite en la
                entidad correspondiente.
            </p>
            <p class="mt-3">
                <p-button
                    [link]="true"
                    label="Ir al Sitio Web del SRI"
                    (onClick)="openSRI()" />
            </p>
        </div>
    </p-message>
</p-fluid>
