/* 1. Módulos de Sass (ESTOS DEBEN IR PRIMERO OBLIGATORIAMENTE) */
@use './layout/layout.scss';
@use './demo/demo.scss';

/* 2. Librerías CSS externas (Pueden ir con @use o @import) */
@use 'primeicons/primeicons.css';
@use "@fortawesome/fontawesome-free/css/all.css";
@use './primeng-zindex';

/* 3. Tailwind (Debe ir después de los @use de Sass para no romper la regla) */

@import './tailwind.css';

@layer components {
    .custom-form-card {
        @apply p-6 rounded-lg shadow-md mt-2;
        background-color: var(--color-white);
    }

    .custom-form-grid {
        @apply grid grid-cols-1 gap-6;
    }

    .custom-form-field {
        @apply flex flex-col gap-2 col-span-12;
    }

    .custom-form-title {
        @apply text-xl font-semibold col-span-12;
    }
}

.p-toolbar {
    @apply rounded-lg shadow-md;
    background: var(--surface-card) !important;
}

.form-error {
    display: block;
    margin-top: .25rem;
    font-size: .75rem;
    color: var(--p-red-500);
}

.layout-menuitem-text {
    color: var(--p-gray-500);
}

.layout-menuitem-icon {
    color: var(--p-gray-500); /* cambia por el color que quieras */
}
