<p-fluid>
    <form
        [formGroup]="form"
        class="card flex flex-col gap-6 w-full">

            <!-- hasComplementaryServices -->
            <div class="md:col-span-12 flex flex-col gap-2">
                <label
                    appLabel
                    for="hasComplementaryServices"
                    [required]="hasComplementaryServicesField"
                    label="Servicios Complementarios
                    ¿Su Establecimiento oferta alguna modalidad de turismo de aventura dentro de sus linderos?">
                </label>

                <p-toggleswitch id="hasComplementaryServices" formControlName="hasComplementaryServices" >
                    <ng-template #handle let-checked="checked">
                        <span class="!text-xs font-semibold">{{ checked ? 'SÍ' : 'NO' }}</span>
                    </ng-template>
                </p-toggleswitch>

                <p-message
                    appErrorMessage
                    [errors]="hasComplementaryServicesField.errors"
                    [touched]="hasComplementaryServicesField.touched"
                    [dirty]="hasComplementaryServicesField.dirty" />
            </div>
    </form>
</p-fluid>

<p-fluid>
    @if (hasComplementaryServicesField.value) {
        <app-list-basic
            title="abc"
            [items]="items"
            [cols]="cols"
            [buttonActions]="buttonActions"
            (onCreate)="create()"
            (onSelect)="buildButtonActions($event)"
        />
    }
</p-fluid>

<p-dialog [(visible)]="isVisibleModal"
        [modal]="true"
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
        [style]="{ width: '25vw' }"
        [draggable]="false"
        (onHide)="closeModal()"
        [resizable]="false">
    <ng-template #header>
        <div class="inline-flex items-center justify-center gap-2">
            <span class="font-bold whitespace-nowrap">
                Agregar Guía de Turismo
            </span>
        </div>
    </ng-template>

    <p-fluid>
        <form [formGroup]="form" (ngSubmit)="onSubmit()"
            class="card flex flex-col gap-2 w-full">
            <div class="grid grid-cols-1 md:grid-cols-12 gap-6">
                <!-- identification -->
                <div class="md:col-span-12 flex flex-col gap-2">
                    <label
                    appLabel
                    for="modelId"
                    [required]="modelIdField"
                    label="Tipo">
                </label>

                <p-select id="modelId"
                        [options]="modelId"
                        formControlName="modelId"
                        optionLabel="name">
                </p-select>

                <p-message
                    appErrorMessage
                    [errors]="modelIdField.errors"
                    [touched]="modelIdField.touched"
                    [dirty]="modelIdField.dirty" />
                </div>

                <div class="md:col-span-12 flex flex-col gap-2">
                    <label for="capacity" class="font-medium">Capacidad de Personas <span class="text-red-500">*</span></label>
        <p-inputNumber
        formControlName="capacity"
        [min]="0"
        [max]="1000"
        showButtons
        inputId="Capacity"
        class="w-full">
        </p-inputNumber>
                </div>

                <!-- actions -->
                <div class="md:col-span-12 flex flex-col gap-2">
                    <p-button type="submit" label="Agregar" [icon]="PrimeIcons.SAVE" />
                </div>
            </div>
        </form>
    </p-fluid>

</p-dialog>

